body {
  background-color: #0e0e0e;
}

.pinterestCard {
  display: flex;
  justify-content: center;
  position: relative;
  opacity: 0.3;
}

.pinterestCardIMG {
  position: absolute;
  border-radius: 20px;
}

.ironMaidenCover {
  border-radius: 25px;
  background-color: white;
  margin-top: 280px;
  width: 280px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.IronMaidenImg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.divSaveButton, .divButtonList {
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.ironMaidenCover:hover .divSaveButton {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}

.ironMaidenCover:hover .divButtonList {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

.divSaveButton {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  padding-top: 15px;
  z-index: 1;
  transform: translateY(-10px);
}

.saveButton {
  border-radius: 25px;
  width: 75px;
  height: 45px;
  background-color: #d32d2f;
  border: transparent;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.divButtonList {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  transform: translateY(10px);
}

.button1 {
  margin: 6px;
  border-radius: 20px;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
  font-weight: bold;
}

.ironMaidenCover:hover .IronMaidenImg {
  opacity: 0.8;
}
